// ##### Alert Component ##### //

%c-alert {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: $spacing-lg;
	padding: 10px;
	border-radius: 5px;
}

.c-alert--success {
	@extend %c-alert;
	background-color: lighten($design-green-color, 30%);
}

.c-alert--error {
	@extend %c-alert;
	background-color: lighten($design-red-color, 50%);
}

.c-alert__close {
	margin: 0 0 0 10px;
}
