// ##### Alert Component ##### //

%c-alert {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: $spacing-lg;
	padding: 10px;
	border-radius: 5px;
	color: $design-white-color;
	font-size: 1.1em;
}

.c-alert--success {
	@extend %c-alert;
	background-color: $design-green-color;
}

.c-alert--informational {
	@extend %c-alert;
	background-color: $design-dark-gray-color;
}

.c-alert--error {
	@extend %c-alert;
	background-color: $design-red-color;
}

.c-alert__close {
	margin: 0 0 0 10px;
}
