// ##### Autosave Component ##### //

.c-autosave-header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.c-autosave-footer {
	@extend %right-padding;
	display: flex;
	justify-content: flex-end;
	margin: 0 0 $spacing-lg;
}

.c-autosave__text {
	margin: 0 0 0 1em;
}
