// ##### Banner Object ##### //

.o-banner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 29vw;
  padding: 8vw 0 0;
  background: linear-gradient(transparent 6vw, rgba($design-dark-blue-color, 0.6), 6vw, rgba($design-dark-blue-color, 0.6), 22vw, transparent 22vw), url('../images/bg_drawer-of-bugs.jpg') 0 0 / 100% no-repeat;

  @include bp(screen2) {
  	background: linear-gradient(transparent 6vw, rgba($design-dark-blue-color, 0.6), 6vw, rgba($design-dark-blue-color, 0.6), 20vw, transparent 20vw), url('../images/bg_drawer-of-bugs.jpg') 0 0 / 100% no-repeat;
  }

}

.o-banner__tagline {
	margin: 0 0 2vw;
	color: $design-white-color;
	font-size: 5vw;

	@include bp(screen2) {
		font-size: 4vw;
	}

}

.o-banner__button {
	height: 4vw;
	padding: 0 1.5vw;
	border: none;
	background-color: $design-white-color;
	color: $design-dark-blue-color;
	font-size: 2vw;

	@include bp(screen2) {
		height: 3.2vw;
		padding: 0 1vw;
		font-size: 1.7vw;
	}

}
