// ##### Banner Object ##### //

.o-banner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 29vw;
  padding: 100px 0 0;
  background: linear-gradient(transparent 80px, rgba($design-dark-blue-color, 0.6), 80px, rgba($design-dark-blue-color, 0.6), 210px, transparent 210px), url('../images/bg_drawer-of-bugs.jpg') 0 0 / 100% no-repeat;
}

.o-banner__group {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	min-height: 130px;
	background: darken($design-light-blue-color, 15%) url('../images/bg_drawer-of-bugs.jpg') no-repeat;
	background-position: 0 -8vw;
  background-size: 100%;
	background-blend-mode: soft-light;
}

.o-banner__tagline {
	margin: 0 0 15px;
	color: $design-white-color;
	font-size: 2.2em;
}

.o-banner__button {
	height: 35px;
	padding: 0 15px;
	border: none;
	background-color: $design-white-color;
	color: $design-dark-blue-color;
}
