// ##### Banner Object ##### //

.o-banner {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px 0;
  background-color: $design-light-blue-color;

	// 'background-image: none' needs to override the inline background-image style in the HTML at small screen:
	// scss-lint:disable ImportantRule
  @media (max-width: $screen-sm-min - 1) {
  	background-image: none !important;
  }

  @include bp(screen1) {
		height: 28vw;
	  padding: 8vw 0 0;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;

	  &::before {
  		position: absolute;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		left: 0;
			background: linear-gradient(transparent 6vw, rgba($design-dark-blue-color, 0.6) 6vw, rgba($design-dark-blue-color, 0.6) 22vw, transparent 22vw);
			content: '';
			z-index: 1;
  	}

  }

  @include bp(screen2) {

  	&::before {
			background: linear-gradient(transparent 6vw, rgba($design-dark-blue-color, 0.6) 6vw, rgba($design-dark-blue-color, 0.6) 20vw, transparent 20vw);
  	}

  }

}

html.no-multiplebgs .o-banner {
	padding: 20px 0;
	background: $design-light-blue-color;
}

.o-banner__tagline {
	margin: 0 0 10px;
	color: $design-white-color;
	font-size: 1.7em;
	z-index: 2;

	@include bp(screen1) {
		margin: 0 0 2vw;
		font-size: 5vw;
	}

	@include bp(screen2) {
		font-size: 4vw;
	}

}

.o-banner__button {
	padding: 6px 12px;
	border: none;
	background-color: $design-white-color;
	color: $design-dark-blue-color;
	z-index: 2;

	@include bp(screen1) {
		height: 4vw;
		padding: 0 1.5vw;
		font-size: 2.2vw;
	}

	@include bp(screen2) {
		height: 3.2vw;
		padding: 0 1vw;
		font-size: 1.7vw;
	}

}
