// ##### Buttons Object ##### //

%o-button__big-white {
  height: 35px;
  padding: 0 12px;
  border: none;
  background-color: $design-dark-blue-color;
  color: $design-white-color;
}

.o-button__big-white {
  @extend %o-button__big-white;
}

%o-button__icon {
  height: 35px;
  border: 1px solid $design-light-gray-color;
  border-radius: 0;
}

%o-button__icon-left {
  @extend %o-button__icon;
  background: url('../images/icon_left-blue-arrow.svg') left 10px center no-repeat;
  padding: 0 12px 0 35px;
}

.o-button__icon-left {
  @extend %o-button__icon-left;
}

%o-button__icon-right {
  @extend %o-button__icon;
  background: url('../images/icon_right-blue-arrow.svg') right 10px center no-repeat;
  padding: 0 35px 0 12px;
}

.o-button__icon-right {
  @extend %o-button__icon-right;
}

%o-button__no-bg-icon-left {
  padding: 3px 0 3px 25px;
  border: none;
  color: $design-light-blue-color;
  
  font-size: 0.9em;
}

.o-button__no-bg-icon-left1 {
  @extend %o-button__no-bg-icon-left;
  background: url('../images/icon_point.svg') left center no-repeat;
}

.o-button__no-bg-icon-left2 {
  @extend %o-button__no-bg-icon-left;
  background: url('../images/icon_details.svg') left center no-repeat;
}
