// ##### Buttons Object ##### //

%o-button__plain-text {
  padding: 0 12px;
  border: none;
}

.o-button__plain-text1 {
  @extend %o-button__plain-text;
  height: 40px;
  background-color: $design-dark-blue-color;
  color: $design-white-color;
}

.o-button__plain-text2 {
  @extend %o-button__plain-text;
  height: 30px;
  background-color: $design-lighter-blue-color;
}

.o-button__plain-text3 {
  @extend %o-button__plain-text;
  height: 35px;
  border: 1px solid $design-light-gray-color;
  border-radius: 0;
  background-color: $design-white-color;
}

.o-button__plain-text4 {
  padding: 5px 0;
  border: none;
  background-color: $design-white-color;
  color: $design-light-blue-color;
  font-size: 0.9em;
}

.o-button__plain-text5 {
  padding: 4px 10px;
  border: 1px solid $design-white-color;
  border-radius: 0;
  background-color: $design-dark-blue-color;
  color: $design-white-color;
}

.o-button__plain-text6 {
  padding: 0 8px 0 0;
  border: none;
  border-right: 2px solid $design-light-gray-color;
  background-color: $design-white-color;
  color: $design-dark-blue-color;
  font-weight: bold;
}

.o-button__plain-text7 {
  padding: 0 0 0 8px;
  border: none;
  background-color: $design-white-color;
  color: $design-dark-blue-color;
  font-weight: bold;
}

%o-button__icon {
  height: 35px;
  border: 1px solid $design-light-gray-color;
  border-radius: 0;
}

%o-button__icon-left {
  @extend %o-button__icon;
  padding: 0 12px 0 35px;
  background: $design-white-color inline('../images/icon_left-blue-arrow.svg') left 10px center no-repeat;
}

.o-button__icon-left {
  @extend %o-button__icon-left;
}

.o-button__icon-left--active {
  @extend %o-button__icon-left;
  border: 1px solid $design-lighter-blue-color;
  background-color: $design-lighter-blue-color;
}

%o-button__icon-right {
  @extend %o-button__icon;
  padding: 0 35px 0 12px;
  background: $design-white-color inline('../images/icon_right-blue-arrow.svg') right 10px center no-repeat;
}

.o-button__icon-right {
  @extend %o-button__icon-right;
}

.o-button__icon-right--active {
  @extend %o-button__icon-right;
  border: 1px solid $design-lighter-blue-color;
  background-color: $design-lighter-blue-color;
}

%o-button__no-bg-icon-left {
  padding: 3px 0 3px 25px;
  border: none;
  background-color: $design-white-color;
  color: $design-light-blue-color;
  font-size: 0.9em;
}

.o-button__no-bg-icon-left1 {
  @extend %o-button__no-bg-icon-left;
  background: inline('../images/icon_point.svg') left center no-repeat;
}

.o-button__no-bg-icon-left2 {
  @extend %o-button__no-bg-icon-left;
  background: inline('../images/icon_details.svg') left center no-repeat;
}

%o-button__prev-next {
  border: none;
  background-color: $design-white-color;
  font-size: 0.9em;
}

.o-button__previous {
  @extend %o-button__prev-next;
  padding: 5px 5px 5px 20px;
  background: inline('../images/icon_left-blue-arrow.svg') left center no-repeat;
}

.o-button__next {
  @extend %o-button__prev-next;
  padding: 5px 20px 5px 5px;
  background: inline('../images/icon_right-blue-arrow.svg') right center no-repeat;
}

%o-button__text-number {
  border: none;
  background-color: $design-white-color;
}

.o-button__text-number {
  @extend %o-button__text-number;
}

.o-button__text-number--active {
  @extend %o-button__text-number;
  color: $design-light-blue-color;
}

.o-button__menu {
  padding: 15px;
  border: none;
  background: inline('../images/icon_menu.svg') center / 35px no-repeat;
}

.o-button__close {
  padding: 10px;
  border: none;
  background: transparent inline('../images/icon_close.svg') center / 15px no-repeat;
}

.o-button__add {
  padding: 2px 5px 2px 0;
  border: none;
  background-color: $design-white-color;
  color: $design-dark-blue-color;
  text-align: left;

  &::before {
    margin: 0 0.25em 0 0;
    content: '+';
  }

}
