// ##### Column Layout Component ##### //

.c-col-layout {

  @include bp(screen2) {
    display: flex;
  }

}

.c-col-layout__content {
  flex: 1;
}

.c-col-layout__sidebar1,
.c-col-layout__sidebar2 {
  flex: 0 0 20%;
}

.c-col-layout__sidebar1 {

  @include bp(screen2) {
    padding: 0 20px 0 0;
  }

}

.c-col-layout__sidebar2 {

	@include bp(screen2) {
    padding: 0 0 0 20px;
  }

}
