// ##### Home Page Data Component ##### //

.c-data-home__row {

	@include bp(screen2) {
		display: flex;
	}

}

.c-data-home__group {
	flex-flow: row nowrap;
	justify-content: space-between;
	border-top: 1px solid $design-dark-gray-color;

	@include bp(screen1) {
		display: flex;
	}

	@include bp(screen2) {
		width: 50%;

		&:first-of-type {
			border-right: 1px dashed $design-orange-color;
		}

	}

}

.c-data-home__title-group {
	@extend %viewport-edge-padding;
	flex: 0 1 auto; // fixes IE 10
	padding-top: 20px;
	padding-bottom: 10px;
}

.c-data-home__title {
	margin: 0 0 10px;
	color: $design-dark-blue-color;
	font-size: 1.4em;
}

.c-data-home__author {
	margin: 0 0 10px;
}

.c-data-home__type-group {
	flex: 0 0 auto;

	@include bp(screen1) {
		max-width: 6em;
		padding: 20px 20px 10px 10px;
	}

}

.c-data-home__type {
	margin: 0 0 10px;
	font-size: 0.9em;
	font-weight: bold;
	text-align: right;
}
