// ##### Metadata Entry Theme ##### //

.t-describe__heading {
	@extend %viewport-edge-padding;
}

.t-describe__author-fieldset {

	.c-input {

		&:nth-of-type(1) {
			flex: 0 1 auto;
			width: 20%;
		}

	}

}

.t-describe__group1-buttons {
	display: flex;
}

.t-describe__group1-button {

	&:nth-of-type(1) {
		margin: 0 20px 0 0;
		width: 20%;
	}

}

.t-describe__select1 {
	margin: 20px 0 0;
	align-items: flex-start;
}
