// ##### Metadata Entry Theme ##### //

.t-describe__basic-info {
	@extend %right-padding;
}

.t-describe__remove-button {
	margin: 0 0 $spacing-lg;

	@include bp(screen2) {
		margin: 0 0 0 $spacing-lg;
	}

}

.t-describe__group1-buttons {
	display: flex;
	margin: 0 0 20px;
}

.t-describe__group1-button {

	&:nth-of-type(1) {
		margin: 0 10px 0 0;

		@include bp(screen2) {
			width: 31.5%;
			margin: 0 2.5% 0 0;
		}

	}

}

.t-describe__select1 {
	align-items: flex-start;
}

.t-describe__add-funder-button {
	margin: 0 0 20px;
}

.t-describe__location-by-name {
	display: flex;
	align-items: flex-end;
	max-width: 500px;
	margin: 20px 0 0;
}

.t-describe__location-by-name-icon {
	width: 25px;
	height: 25px;
	margin: 0 5px 23px 0;
}

.t-describe__location-by-name-label {
	position: relative;
	left: -30px; // move label over icon
}

.t-describe__location-by-name-button {
	margin: 0 0 20px 10px;
}

.t-describe__map-label {
	margin: 1em 0 0;
	font-weight: bold;
}

.t-describe__map {
	margin: 0 0 20px;
}

.t-describe__locations {
	margin: 0 0 20px;
}

.t-describe__dataset-nav {
	@extend %right-padding;
}
