// ##### Metadata Entry Theme ##### //

.t-describe__heading {
	@extend %viewport-edge-padding;
}

.t-describe__author-fieldset {
	display: flex;

	.c-input {

		&:not(:first-of-type) {
			margin: 0 0 0 20px;
		}

		&:nth-of-type(1) {
			flex: 1 0 auto;
		}

		&:nth-of-type(2) {
			flex: 2 0 auto;
		}

		&:nth-of-type(3) {
			flex: 3 0 auto;
		}

	}

	.c-input__label {
		// empty
	}

}
