// ##### Footer Component ##### //

.c-footer {
  @extend %pull-borders;
  margin-bottom: $spacing-lg;
  padding-top: 10px;
  border-top: 1px solid $design-dark-gray-color;
  font-size: 0.7em;
}

.c-footer__policy-links {
  
  @include bp(screen3) {

    a {
      @extend %o-link__primary;

      &:not(:first-of-type) {
        margin: 0 0 0 1em;
      }

    }

  }

}
