// ##### Form Section Component ##### //

.c-fsection {

  &[open] .c-fsection__summary {

    &::after {
      right: 14px;
      transform: rotate(90deg);
      content: url('../images/icon_right-white-arrow.svg');
    }

  }

}

.c-fsection__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin: 0 -10px;
  padding: 0 10px;
  background-color: $design-dark-blue-color;
  color: $design-white-color;

  &::after {
    transition: transform 0.3s;
    content: url('../images/icon_right-white-arrow.svg');
  }

}
