// ##### Form Group Component ##### //

.c-fgroup {
  padding: 0 $spacing-lg;

  &[open] .c-fgroup__summary {

    &::after {
      right: 14px;
      transform: rotate(90deg);
    }

  }

}

.c-fgroup__summary {

  position: relative;
  margin: 0 (-$spacing-body) + (-$spacing-lg);
  padding: 10px ($spacing-body + $spacing-lg);
  background-color: $design-dark-blue-color;
  color: $design-white-color;

  &::after {
    position: absolute;
    right: $spacing-body;
    content: inline('../images/icon_right-white-arrow.svg');
  }

}
