// ##### Form Group Component ##### //

$fgroup-right-margin: 200px;

.c-fgroup {
  margin: 0 0 20px;
  
  @include bp(screen1) {
    padding: 0 $spacing-md;
  }

  @include bp(screen2) {
     padding: 0 $fgroup-right-margin 0 $spacing-lg;
  }

  &[open] .c-fgroup__summary {

    &::after {
      transform: rotate(-90deg);
    }

  }

}

.c-fgroup__summary {
  position: relative;
  margin: 0 (-$spacing-md) 20px (-$spacing-md);
  padding: 10px $spacing-md;
  background-color: $design-dark-blue-color;
  color: $design-white-color;

  @include bp(screen1) {
    margin: 0 ((-$spacing-body) + (-$spacing-md)) 20px ((-$spacing-body) + (-$spacing-md));
    padding: 10px ($spacing-body + $spacing-md);
  }

  @include bp(screen2) {
    margin: 0 ((-$fgroup-right-margin) + (-$spacing-body)) 20px ((-$spacing-body) + (-$spacing-lg));
    padding: 10px ($spacing-body + $spacing-lg);
  }

  &::after {
    position: absolute;
    right: $spacing-body;
    transform: rotate(90deg);
    content: inline('../images/icon_right-white-arrow.svg');

    @include bp(screen1) {
      right: $spacing-body + $spacing-md;
    }

    @include bp(screen2) {
      right: $spacing-body + $spacing-lg;
    }

  }

}
