// ##### Form Section Component ##### //

.c-fsection {

  &[open] .c-fsection__summary {

    &::after {
      right: 14px;
      transform: rotate(90deg);
      content: url('../images/icon_right-white-arrow.svg');
    }

  }

}

.c-fsection__summary {
  @extend %page-bleed;
  position: relative;
  padding: 10px $spacing-body-margin;
  background-color: $design-dark-blue-color;
  color: $design-white-color;

  &::after {
    position: absolute;
    right: $spacing-body-margin;
    transition: transform 0.3s;
    content: url('../images/icon_right-white-arrow.svg');
  }

}
