// ##### Column Layout ##### //

.t-col-layout {

  @include bp(screen2) {
    display: flex;
  }

}

.t-col-layout__content {
  flex: 1;
}

.t-col-layout__sidebar1,
.t-col-layout__sidebar2 {
  flex: 0 0 20%;
}

.t-col-layout__sidebar1 {

  @include bp(screen2) {
    padding: 0 20px 0 0;
  }

}

.t-col-layout__sidebar2 {

	@include bp(screen2) {
    padding: 0 0 0 20px;
  }

}
