// ##### Grid ##### //

.grid {

  @include bp(screen2) {
    display: flex;
  }

}

.grid__content {
  flex: 1;
}

.grid__sidebar1,
.grid__sidebar2 {
  flex: 0 0 20%;
}

.grid__sidebar1 {

  @include bp(screen2) {
    padding: 0 20px 0 0;
  }

}

.grid__sidebar2 {

	@include bp(screen2) {
    padding: 0 0 0 20px;
  }

}
