// ##### Header Component ##### //

.c-header {

  @include bp(screen2) {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 0 10px;
    border-bottom: 1px solid $design-dark-gray-color;
    z-index: 0;
  }

}

.c-header__logos {
  display: flex;
  align-items: flex-start;
}

.c-header__menu-button {
  margin: 5px 35px 0 0;

  @include bp(screen2) {
    display: none;
  }

}

.c-header__dash-logo {
  // empty
}

.c-header__dash-logo-svg {
  max-width: 240px;
  max-height: 50px;

  // Native dimentions:
  // max-width: 340px;
  // max-height: 65px;
}

%c-header__nav {
  display: none;
  flex-flow: column nowrap;
  margin: 5px 0 0;

  @include bp(screen2) {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 0;
  }

}

.c-header__nav {
  @extend %c-header__nav;
}

.c-header__nav--is-open {
  @extend %c-header__nav;
  display: flex;
}

.c-header__global-search {
  margin: 0 0 2px;
  padding: 6px;
  background-color: $design-light-blue-color;

  @include bp(screen2) {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    width: $global-search-width;
    background-color: $design-white-color;
  }

}

.c-header__nav-items {
  display: flex;
  flex-flow: column nowrap;

  @include bp(screen2) {
    position: relative; // to .c-sites
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 $global-search-width 0 0;
    z-index: 1;
  }

}

%c-header__nav-bar {
  margin: 0 0 2px;
  padding: 10px;
  background-color: $design-light-blue-color;
  color: $design-white-color;
  text-decoration: none;

  @include bp(screen2) {
    margin: 0;
    padding: 0;
    background-color: $design-white-color;
    color: $design-black-color;
  }

}

.c-header__nav-bar {
  @extend %c-header__nav-bar;
}

.c-header__nav-bar--active {
  @extend %c-header__nav-bar;
  color: $design-black-color;

  @include bp(screen2) {
    color: $design-light-blue-color;
  }

}
