// ##### Header Component ##### //

.c-header {
  display: flex;
}

.c-header__menu-button {
  margin: 0 45px 0 0;
}

.c-header__dash-logo {
  // empty
}

.c-header__dash-logo-svg {
  max-width: 240px;
  max-height: 50px;

  // Native dimentions:
  // max-width: 340px;
  // max-height: 65px;
}
