// ##### Home Page Theme ##### //

.t-home__header {
	border-bottom: none;
}

.t-home__banner {
	margin: 0 0 10px;
}

.t-home__quote-search {

	@include bp(screen1) {
		display: flex;
	}

}

.t-home__quote {
	display: none;

	@include bp(screen2) {
		display: flex;
		flex: 1 0 50%;
		margin: 0 5px 0 0;
	}

}

.t-home__search {
	flex: 1 0 50%;

	@include bp(screen2) {
		margin: 0 0 0 5px;
	}

}

.t-home__data {
	// empty
}
