// ##### Home Page Theme ##### //

.t-home__header {
	border-bottom: none;
}

.t-home__banner {
	@extend %page-bleed;
	margin-bottom: 10px;
}

.t-home__quote-search {
	@extend %page-bleed;
	padding: 0;

	@include bp(screen1) {
		display: flex;
	}

}

.t-home__quote {
	display: none;

	@include bp(screen2) {
		display: flex;
		flex: 1 0 0;
		margin: 0 5px 0 0;
	}

}

.t-home__search {
	flex: 1 0 0;

	@include bp(screen2) {
		margin: 0 0 0 5px;
	}

}

.t-home__heading-level1 {
	@extend %viewport-edge-padding;
}

.t-home__data {
	// empty
}
