// ##### Keywords Component ##### //

$keywords-height: 25px;
$keywords-spacing: 5px;

.c-keywords {
	// empty
}

.c-keywords__label {
	font-weight: bold;
}

.c-keywords__container {
	display: flex;
	flex-flow: row wrap;
	padding: $keywords-spacing $keywords-spacing 0;
	border: 1px solid $design-dark-gray-color;
}

.c-keywords__keyword {
	display: inline-flex;
	align-items: center;
	height: $keywords-height;
	margin: 0 $keywords-spacing $keywords-spacing 0;
	padding: 0 6px;
	background-color: $design-light-blue-color;
	color: $design-white-color;
}

.c-keywords__keyword-remove {
	margin: 0 0 0 8px;
	padding: 6px;
	background: inline('../images/icon_close.svg') center / 10px no-repeat;
	color: inherit;
}

.c-keywords__input {
	height: $keywords-height - $keywords-spacing;
	margin: 0 0 $keywords-spacing;
	padding: 0;
}
