// ##### Landing Page Theme ##### //

.t-landing__data-type {
	margin: 0 0 $spacing-lg;
}

.t-landing__metadata {
	margin: 0 0 $spacing-lg;
}

.t-landing__main {

	@include bp(screen2) {
		margin: 0 30px 0 0;
	}

}

.t-landing__sidebar {
	margin: 0 0 $spacing-lg;

	@include bp(screen2) {
		margin: 0;
	}

	.o-download {
		margin: 0 0 $spacing-lg;
	}

	.c-sidebox {
		margin: 30px 0 0;
	}

}
