// ##### License Component ##### //

.c-license {
	margin: 0 0 20px;
}

.c-license__input-logo-group {
	display: flex;
}

.c-license__logo {
	flex: 0 0 auto;
	width: 120px;
	height: 42px;
	margin: 0 0 20px 20px;
}
