// ##### Link Group Component ##### //

.c-lgroup {

  &[open] .c-lgroup__summary {

    &::before {
      transform: rotate(90deg);
    }

  }

}

.c-lgroup__summary {
  position: relative;
  padding: 0 0 0 20px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url('../images/icon_thin-right-arrow.svg');
  }

}

.c-lgroup__list {
  list-style: none;

  li {
    margin: 0 0 0.3em;

    a {
      @extend %o-link__primary;
    }

  }

}
