// ##### Location Component ##### //

.c-location {
	width: 500px;

	border: $bgreen;
}

.c-location__buttons {
	// empty
}

.c-location__point-button {
	// empty
}

.c-location__box-button {
	// empty
}

.c-location__label {
	@extend %hide;
}

.c-location__point-inputs {
	display: flex;
	align-items: flex-end;
	padding: 0 0 0 30px;
	background: url('../images/icon_point.svg') left 8px center no-repeat;
}

.c-location__box-inputs {
	// empty
}

.c-location__input {
	flex: 1 0 auto;

	&:first-of-type {
		margin: 0 5px 0 0;
	}

	&:last-of-type {
		margin: 0 0 0 5px;
	}

}

.c-location__coordinates {
	display: flex;
	align-items: flex-end;
}

.c-location__legend {
	align-self: center;
	width: 25px;
	margin: 0 5px 0 0;
	color: $design-light-blue-color;
	text-align: right;
}

.c-location__add-button {
	// empty
}
