// ##### Locations Component ##### //

.c-locations {
	// empty
}

.c-locations__label {
	margin: 0 0 20px;
	font-weight: bold;
}

%c-locations__group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.4em 0;
	border-bottom: 1px solid $design-light-gray-color;
}

.c-locations__point {
	@extend %c-locations__group;
	padding-left: 26px;
	background: url('../images/icon_point-blue.svg') left 2px center no-repeat;
}

.c-locations__place {
	@extend %c-locations__group;
	padding-left: 26px;
	background: url('../images/icon_globe.svg') left 1px center no-repeat;
}

.c-locations__area {
	@extend %c-locations__group;
}

.c-locations__coordinate {
	color: $design-light-blue-color;
}

.c-locations__data {
	// empty
}

.c-locations__button {
	// empty
}
