// ##### Locations Component ##### //

.c-locations {
	// empty
}

.c-locations__label {
	margin: 0 0 20px;
}

%c-locations__group {
	display: flex;
	justify-content: space-between;
	padding: 0.25em 0;
	border-bottom: 1px solid $design-light-gray-color;
}

.c-locations__point {
	@extend %c-locations__group;
}

.c-locations__place {
	@extend %c-locations__group;
}

.c-locations__area {
	@extend %c-locations__group;
}

.c-locations__coordinate {
	color: $design-light-blue-color;
}

.c-locations__data {
	// empty
}

.c-locations__button {
	// empty
}
