// ##### Location Component ##### //

.c-location {
	display: flex;
	flex-flow: column nowrap;
	width: 300px;

	border: $bgreen;
}

.c-location__buttons {
	// empty
}

.c-location__point-button {
	// empty
}

.c-location__box-button {
	// empty
}

.c-location__label {
	@extend %hide;
}

.c-location__point-inputs {
	display: flex;
	align-items: flex-end;
	margin: 0 0 10px 0;
	padding: 0 0 0 30px;
	background: url('../images/icon_point.svg') left 8px center no-repeat;
}

.c-location__box-inputs {
	padding: 0 0 0 30px;
	background: url('../images/icon_box.svg') left 8px center no-repeat;
}

.c-location__input {
	flex: 1 0 auto;
	width: 50px;
	height: 30px;
	padding: 0 5px;
	border: 1px solid $design-dark-gray-color;

	&:first-of-type {
		margin: 0 5px 0 0;
	}

	&:last-of-type {
		margin: 0 0 0 5px;
	}

}

.c-location__coordinates {
	display: flex;
	align-items: flex-end;
	margin: 0 0 10px 0;
}

.c-location__legend {
	align-self: center;
	width: 25px;
	margin: 0 5px 0 0;
	color: $design-light-blue-color;
	text-align: right;
}

.c-location__add-button {
	align-self: flex-end;
}
