// ##### Logout Object ##### //

.o-logout {
	position: relative;
	margin: 0 0 2px;

	@include bp(screen2) {
		display: flex;
		justify-content: space-between;
		width: $global-search-width;
	}

}

.o-logout__button {
	position: absolute;
	width: 100%;
	padding: 10px 3.8em 10px 10px;
	border: none;
	background-color: transparent;
	color: $design-white-color;

	@include bp(screen2) {
		position: static;
		width: auto;
		padding: 0;
		background: none;
		color: $design-light-blue-color;
	}

}

.o-logout__name {
	padding: 10px 10px 10px 5.5em;
	background-color: $design-dark-blue-color;
	color: $design-white-color;
	text-align: center;

	@include bp(screen2) {
		padding: 0;
		background-color: transparent;
		color: $design-black-color;
	}

}
