// ##### Logout Object ##### //

.o-logout {
	position: relative;
	margin: 0 0 2px;

	@include bp(screen2) {
		display: flex;
		position: absolute; // to .c-header__nav-items
		justify-content: space-between;
		width: $global-search-width;
	}

}

.o-logout__name {
	position: absolute;
	left: 50%;
	padding: 10px;
	color: $design-white-color;
	pointer-events: none;

	@include bp(screen2) {
		position: static;
		padding: 0;
		color: $design-black-color;
	}

}

.o-logout__button {
	width: 100%;
	padding: 10px 3.8em 10px 10px;
	border: none;
	background-color: $design-dark-blue-color;
	color: $design-white-color;

	@include bp(screen2) {
		width: auto;
		padding: 0;
		background: none;
		color: $design-light-blue-color;
	}

}
