// ##### Orcid Component ##### //

.c-orcid {
	margin: 0 0 20px;
}

.c-orcid__icon {
	margin: 0 5px 0 0;
	padding: 0 8px;
	background: url('../images/icon_orcid.png') no-repeat;
}

.c-orcid__id {
	@extend %o-link__primary;
	color: $design-dark-blue-color;
}
