// ##### Quote Object ##### //

.o-quote {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  background: darken($design-dark-gray-color, 20%) url('../images/bg_ramon-y-cajal.png') 0 0 / cover no-repeat;
  opacity: 0.5;
  background-blend-mode: multiply;
}

.o-quote__quote {
	width: 320px;
	margin: 0 0 15px;
	color: $design-white-color;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.3em;
	text-shadow: 1px 1px 1px $design-black-color;
}

.o-quote__author {
	width: 320px;
	color: $design-white-color;
	text-align: right;
	text-shadow: 1px 1px 1px $design-black-color;
}
