// ##### Section Object ##### //

.o-section {
	@extend %pull-borders;
	margin-bottom: $spacing-lg;
	padding-top: $spacing-lg;
	border-top: 1px solid $design-dark-gray-color;
	border-bottom: 1px solid $design-dark-gray-color;
}
