// ##### Dash Sites Component ##### //

.c-sites {

  @include bp(screen2) {
    display: flex;
    position: absolute; // to .c-header__nav-items
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    width: $global-search-width;
    z-index: 5;
  }

}

%c-sites__item {
  display: block;
  margin: 0 0 2px;
  padding: 10px;
  background-color: $design-light-blue-color;
  color: $design-white-color;
  text-decoration: none;

  @include bp(screen2) {
    background-color: $design-white-color;
    color: $design-black-color;
  }

}

// Rotate icon when details open:

.c-sites__group {

  &[open] .c-sites__summary {

    &::after {
      transform: rotate(-90deg);

      @include bp(screen2) {
        transform: rotate(-180deg);
      }

    }

  }

}

.c-sites__summary {
  @extend %c-sites__item;
  position: relative;

  @include bp(screen2) {
    padding: 0 20px 0 0;
    background-color: transparent;
  }

  &::after {
    position: absolute;
    right: $spacing-body-margin + 5px;
    transform: rotate(90deg);
    content: url('../images/icon_right-white-arrow.svg');

    @include bp(screen2) {
      display: inline-block;
      // position: relative;
      right: 0;
      transform: rotate(0deg);
      content: url('../images/icon_down-blue-arrow.svg');
    }

  }

}

.c-sites__group-heading {
  @extend %c-sites__item;
  background-color: $design-light-gray-color;
}

.c-sites__group-item {
  @extend %c-sites__item;

  @include bp(screen2) {
    border-bottom: 1px solid $design-light-gray-color;
  }

}

.c-sites__login {
  @extend %c-sites__item;
  background-color: $design-dark-blue-color;
  text-align: center;

  @include bp(screen2) {
    margin: 0 20px 0 0;
    padding: 0;
    background-color: transparent;
    color: $design-light-blue-color;
    text-align: left;
  }

}
