// ##### Dash Sites Component ##### //

.c-sites {

  @include bp(screen2) {
    display: flex;
    position: absolute;
    top: 35px;
    right: 0;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    width: 190px;
    z-index: 5;
  }

}

%c-sites__item {
  display: block;
  margin: 0 0 2px;
  padding: 10px;
  background-color: $design-light-blue-color;
  color: $design-white-color;
  text-decoration: none;

  @include bp(screen2) {
    background-color: $design-white-color;
    color: $design-black-color;
  }

}

// Override small screen styles with large screen styles via breakpoint
// scss-lint:disable DeclarationOrder
.c-sites__group {

  &[open] .c-sites__summary {

    &::after {
      right: 14px;
      transform: rotate(90deg);
    }

    @include bp(screen2) {

      &::after {
        right: -10px;
      }

    }

  }

}

// Override small screen styles with large screen styles via breakpoint
// scss-lint:disable DeclarationOrder
.c-sites__summary {
  @extend %c-sites__item;
  position: relative;

  @include bp(screen2) {
    padding: 0 0 10px;
  }

  &::after {
    position: absolute;
    right: $spacing-body-margin;
    content: url('../images/icon_right-white-arrow.svg');
  }

  @include bp(screen2) {

    &::after {
      display: inline-block;
      position: relative;
      right: -10px;
      content: url('../images/icon_thin-right-arrow.svg');
    }

  }

}

.c-sites__group-heading {
  @extend %c-sites__item;
  background-color: $design-light-gray-color;
}

.c-sites__group-item {
  @extend %c-sites__item;

  @include bp(screen2) {
    border-bottom: 1px solid $design-light-gray-color;
  }

}

.c-sites__login {
  @extend %c-sites__item;
  background-color: $design-dark-blue-color;
  text-align: center;

  @include bp(screen2) {
    margin: 0 20px 0 0;
    padding: 0 0 10px;
    background-color: $design-white-color;
    color: $design-light-blue-color;
    text-align: left;
  }

}
