// ##### Table Component ##### //

// Inspired from: https://css-tricks.com/examples/ResponsiveTables/responsive.php

.c-table__highlight1 {
  color: $design-orange-color;
}

.c-table__highlight2 {
  color: $design-dark-blue-color;
}

// ***** Large Screen Styles ***** //

@include bp(screen2) {
  .c-table {
    width: 100%;
  }

  .c-table tr {
    border-bottom: 1px solid $design-light-gray-color;
  }

  .c-table th,
  .c-table td {
    padding: 0.8em;
    text-align: left;
    vertical-align: top;
  }

  .c-table td:nth-of-type(1),
  .c-table td:nth-of-type(6) {
    color: $design-dark-blue-color;
    font-size: 1.1em;
  }

  .c-table td:nth-of-type(2) {
    white-space: nowrap;
  }

}

// ***** Small Screen Styles ***** //

@media (max-width: $screen-md-min - 1) {
  .c-table table,
  .c-table thead,
  .c-table tbody,
  .c-table th,
  .c-table td,
  .c-table tr {
    display: block;
  }

  .c-table {
    width: 100%;
  }

  .c-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .c-table tbody {

    tr:not(:first-child) {
      border-top: 1px solid $design-light-gray-color;
    }

  }

  .c-table td {
    position: relative;
    margin: 0 0 0 130px;
    padding: 6px 0;
    font-weight: bold;

    &:before {
      position: absolute;
      top: 6px;
      left: -125px;
      width: 120px;
      font-weight: normal;
      text-align: right;
      white-space: nowrap;
    }

  }

  .c-table td:nth-of-type(1), {
    margin: 0;
    padding: 15px 0;
    color: $design-dark-blue-color;
    font-size: 1.2em;
    font-weight: normal;
  }

  .c-table td:nth-of-type(2):before {
    content: 'Description:';
  }

  .c-table td:nth-of-type(3):before {
    content: 'Files:';
  }

  .c-table td:nth-of-type(4):before {
    content: 'Created:';
  }

  .c-table td:nth-of-type(5):before {
    content: 'Modified:';
  }

  .c-table td:nth-of-type(6) {
    margin: 0;
    padding: 15px 0;
    color: $design-dark-blue-color;
  }

}
