// ##### Table Component ##### //

// Inspired from: https://css-tricks.com/examples/ResponsiveTables/responsive.php

@include bp(screen2) {
  .c-table {
    width: 100%;
  }

  .c-table th,
  .c-table td {
    padding: 0.5em;
    border: 1px solid $design-light-gray-color;
    vertical-align: top;
  }

  .c-table th {
    padding: 0.5em 30px 0.5em 0.5em;
    text-align: left;
  }

}

@media (max-width: $screen-md-min) {
  .c-table table,
  .c-table thead,
  .c-table tbody,
  .c-table th,
  .c-table td,
  .c-table tr {
    display: block;
  }

  .c-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .c-table tbody {
    border: 1px solid $design-light-gray-color;

    tr:not(:first-child) {
      border-top: 1px solid $design-light-gray-color;
    }

  }

  .c-table td {
    position: relative;
    margin: 0 0 0 150px;
    padding: 6px;
    border-left: 1px solid $design-light-gray-color;

    &:before {
      position: absolute;
      top: 6px;
      left: -145px;
      font-weight: bold;
      white-space: nowrap;
    }

  }

  .c-table td:nth-of-type(1):before { content: 'Title'; }
  .c-table td:nth-of-type(2):before { content: 'Description'; }
  .c-table td:nth-of-type(3):before { content: 'Files'; }
  .c-table td:nth-of-type(4):before { content: 'Created'; }
  .c-table td:nth-of-type(5):before { content: 'Modified'; }
  .c-table td:nth-of-type(6):before { content: 'Action'; }
}
