// ##### Upload File Component ##### //

%c-upload {
	@extend %pull-borders;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid $design-light-gray-color;
	border-bottom: 1px solid $design-light-gray-color;

	~ .c-upload,
	~ .c-upload--complete {
		border-top: none;
	}

}

.c-upload {
	@extend %c-upload;
}

.c-upload--complete {
	@extend %c-upload;

	.c-upload__filename {
		padding: 0 0 0 1.5em;
	background: inline('../images/icon_check-green.svg') left center / 0.9em no-repeat;
	}

}

.c-upload__filesize {
	margin: 0 0 0 1em;
}

.c-upload__action {

	progress[value] { // for placeholder progress component
		height: 10px;
		border: none;
		appearance: none;
	}

}

.c-upload__button {
	margin: 0 0 0 1em;
	border: none;
	background-color: transparent;
	color: $design-dark-blue-color;
	font-weight: bold;
}

.c-upload__no-files-text {
	color: $design-dark-gray-color;
}

.c-upload__upload-complete-text {
	color: $design-green-color;
}
