// ##### Upload Files Theme ##### //

.t-upload__heading-optional {
	font-size: 0.5em;
}

.t-upload__container {
	@extend %right-padding;
}

%t-upload__choose-heading {
	font-size: 1.2em;
}

.t-upload__choose-heading {
	@extend %t-upload__choose-heading;
	color: $design-light-gray-color;
}

.t-upload__choose-heading--active {
	@extend %t-upload__choose-heading;
	color: $design-dark-blue-color;
}

.t-upload__choose-files {

	@include bp(screen1) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

}

.t-upload__o-drop {
	display: none;

	@include bp(screen1) {
		display: block;
		margin: 0 20px 0 0;
	}

}

.t-upload__or {
	display: none;

	@include bp(screen1) {
		display: block;
		margin: 0 20px 0 0;
		color: $design-dark-blue-color;
		font-size: 1.5em;
		font-weight: bold;
	}

}

.t-upload__button {
	flex: 0 0 auto;
}
