// ##### Styles for Dash ##### //

// ***** Global Settings ***** //

@import 'variables';
@import 'mixins';
@import 'testing';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';

// ***** Objects ***** //

@import 'buttons';
@import 'drop';
@import 'global-search';
@import 'headings';
@import 'links';
@import 'logout';
@import 'showhide';
@import 'table';

// ***** Components ***** //
@import 'alert';
@import 'col-layout';
@import 'col-layout';
@import 'data-home';
@import 'data-results';
@import 'facet';
@import 'fieldsets';
@import 'file-group';
@import 'footer';
@import 'form-group';
@import 'header';
@import 'input';
@import 'pagination';
@import 'progress';
@import 'sidebox';
@import 'sites';
@import 'table-heading';
@import 'table-latest';
@import 'table-progress';
@import 'table-submitted';

// ***** Themes ***** //

// will go here

// ***** Global Styles ***** //

@import 'fonts';
@import 'ui-library';

body {
  margin: 0 $spacing-body-margin;
  font-family: 'KievitWeb';
}

.svg-codeblock {
  display: none;
}
